/* header */
header nav.navbar {
    box-shadow: 0 5px 13px rgba(33,33,33,.2);
    margin-bottom: 0px;
}

/* image display */
#image-container img {
    display: block;
    margin: auto auto;
}

/* thumbnail sidebar */
.thumbnail-image {
    width: 50px;
    height: 50px;
    margin: 10px auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.selected {
    opacity: 1;
}

.thumbnail-image:hover {
    cursor: pointer;
}

/* footer */
#page-footer {
    height: 150px;
}

#page-footer h3 {
    font-family: 'Courier New', Courier, monospace;
}

.btn-outline-primary {
    color: #DDC4AC;
    border-color: #DDC4AC;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    background-color: #DDC4AC;
    border-color: #DDC4AC;
    color: rgb(100, 100, 100);
}
/* .btn-primary {
    background-color: #c7ac12;
    color: #ffffff;
    
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #dbd253;
} */