{% extends 'BraTS_3D_viewer/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css_link %}
    <link rel="stylesheet" href="{% static 'BraTS_3D_viewer/css/case_list.css' %}">
{% endblock %}


{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="https://github.com/MartinMa28">Yilin Ma Github profile</a>
            <button id="toggler-collapse-btn" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="BraTS-navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/MartinMa28/brain-tumor-segmentation">Github Repo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.cbica.upenn.edu/BraTS18/lboardValidation.html">BraTS leaderboard</a>
                    </li>
                </ul>
                <button type="button" id="MRI-btn" class="btn btn-outline-primary" data-toggle="modal" data-target="#upload-MRI-modal">New MRI</button>
            </div>
        </nav>
    </header>
{% endblock %}


{% block content %}
    <style type="text/css">
        .jumbotron{
            margin-top: 0px;
            background-image: url("{% static 'BraTS_3D_viewer/imgs/brain_background.jpg' %}");
            background-size: cover;
            height: 800px;
        }
    </style>
    <div class="jumbotron jumbotron-fluid"></div>

    <!-- modal -->
    <div class="modal fade" id="upload-MRI-modal" role="dialog" tabindex="-1" aria-labelledby="upload-MRI-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="upload-MRI-modal-title">Upload MRI</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'BraTS_3D_viewer:case_upload' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                    </form>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="modal-upload-btn">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal -->
    
    <div class="container bg-white shadow rounded" id="BraTS-container">
        <div class="row">
            <div class="col-sm-6 mx-2 my-2" id="case_list_container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Case ID</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in cases %}
                        <tr>
                            <td>{{ c.case_id }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="operations-group">
                                    <button class="btn btn-light btn-sm inference" data-case-name="{{ c.case_id }}" data-id="{{ c.id }}">
                                        Predict
                                        <span class="spinner-border spinner-border-sm" role="status" style="visibility: hidden;" id="{{ c.id }}-inference-spinner"></span>
                                    </button>
                                    <button class="btn btn-light btn-sm view3D" data-case-name="{{ c.case_id }}" data-id="{{ c.id }}">
                                        View
                                        <span class="spinner-border spinner-border-sm" role="status" style="visibility: hidden;" id="{{ c.id }}-view-spinner"></span>
                                    </button>
                                    <button class="btn btn-light btn-sm delete_case" data-case-name="{{ c.case_id }}" data-id="{{ c.id }}">
                                        Delete
                                        <span class="spinner-border spinner-border-sm" role="status" style="visibility: hidden;" id="{{ c.id }}-delete-spinner"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6 mx-2 my-2" id="viewer_container"></div>
        </div>
    </div>
{% endblock %}


{% block js_scripts %}
    <script>
        const HOSTNAME_URL = "{{ request.get_host }}";
        const RESTfulAPI_URLS = {
            delete_case: "{% url 'BraTS_3D_viewer:case_delete' 999 %}",
            inference: "{% url 'BraTS_3D_viewer:inference' 999 %}",
            labels: "{% url 'BraTS_3D_viewer:labels' 999 %}",
            get_cases: "{% url 'BraTS_3D_viewer:get_cases' %}"
        };
    </script>
    <script src="{% static 'BraTS_3D_viewer/js/plotly-latest.min.js' %}"></script>
    <script src="{% static 'BraTS_3D_viewer/js/scripts.js' %}"></script>
{% endblock %}