{% extends 'BraTS_3D_viewer/base.html' %}

{% block content %}
    <h2>MRI case list</h2>
    <a href="{% url 'BraTS_3D_viewer:case_upload' %}" class="btn btn-primary">Upload new MRI cases</a>
    <table class="table">
        <thead>
            <tr>
                <th>Case ID</th>
                <th>Retrieve ID</th>
            </tr>
        </thead>
        <tbody>
            {% for c in cases %}
            <tr>
                <td>{{ c.case_id }}</td>
                <td>{{ c.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}